<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand fw-bold" href="#">Mercury<br>Drop's</a>

            <form class="d-flex flex-grow-1 px-5">
                <input class="flex-grow-1 search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn border-1 sbmt-btn" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            
            <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
                <li class="nav-item align-items-center d-flex">
                    <div class="dropdown">
                        <button class="nav-link border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="nav-icon bi bi-person"></i>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item fw-bold" href="#">Cadastrar</a></li>
                            <li><a class="dropdown-item" href="#">Entrar</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="nav-icon bi bi-cart2"></i></a>
                </li>
            </ul>

        </div>
    </nav>
</header>